
/*********************/
/* Custom Variables */
/*********************/

:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;

    --buttonColor: black;
}

/*********************/
/* General Settings */
/*********************/

/* remove browser default */
body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

/*********************/
/* Section 1 */
/*********************/

.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto; /* ((to remove white spaces due to alot spacing and margin )) */
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;  /* top left|right radius */

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav nav'
        'text-container model'
    ;

    padding-bottom: 200px;
}

/* nav */
nav {
    border-radius: 5px 5px 0 0; /* copy the radius from the parent element */
    grid-area: nav;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    position: relative;
}

/* nav left dots */
.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

/* nav right links */
/* Notes: "nav ul" ((flex for Desktop - visible)) vs ((none for mobile - hidden)) */ 
/* Notes Mobile: Only when we add a class 'active' to nav ===> we change 'none' to 'flex'. Check media queries below. */
nav ul {
    display: flex;
}

#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

/* #navigation li a {
    color: var(--mainText);
} */

/* to hide the hamburguer icon */
.toggle {
    display: none;
}

.active {
    font-weight: bold;
    color: #2d2a2a; 
 }

 /* mid column */
.scrollmobile {
   display: none;
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(262px, 798px);
            transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(262px, 830px);
            transform: translate(262px, 830px);
  }
}


/* left column */
.text-container {
    grid-area: text-container;
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px; 
    box-sizing: border-box;
}

.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: transform 0.1s linear;
}

.btn-left {
   display: flex;
   justify-content: space-between;
}

.git-btn {
    border: 2px solid #373636;
    color: #373636;
    margin-right: 15px;
}

.down-cv {
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}

button:active {
    transform: scale(1.1);
}

/* mid column */
.scroll {
    width: 30px;
    margin-top: 2em;
}


/* right column */
.model {
    grid-area: model;
    display: grid;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}

img.matos {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    height: 300px;
    width: 340px;
    object-fit: cover;
    border: 2px solid var(--borderColor); 
}

/*********************/
/* Section 2 */
/*********************/


.about-container {
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 33px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -235px auto 20px auto;
    /* position: relative; */
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.about-container img {
    height: 200px;
    border-radius: 27%;
    animation-name: spinning;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-direction: linear;
    margin: 25px;
}

/* trick to only spin 1.6 seconds and wait 6.4 seconds: 20% to 100% are equal */
@keyframes spinning {
	0%{transform: rotate(0deg);}
    20%{transform: rotate(360deg);}
	100%{transform: rotate(360deg);}
}

.about-text {
    width: 550px;
    padding: 30px;
}

.about-text p:nth-child(1) {
    color: #3e3d3d;
    font-weight: bold;
    line-height: 0;
}

.about-text p:nth-child(3), 
.about-text p:nth-child(4) {
    color: #7e7d7d;
    font-family: calibri;
    font-size: 16px;
}

.BG_Skills {
   
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72,56,149,0.8) 100%), url("../images/nature.jpg") center fixed;
    background-size: cover;
    text-align: center;
    width: 88%;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 50px;
}

.FE {
    padding: 10px;
    padding-top: 30px;
}

.FE ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
}

.FE ul li {
    cursor: pointer;
    color: yellowgreen;
    font-size: 22px;
}

.BE ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;

}

.BE ul li {
    cursor: pointer;
    color: yellowgreen;
    font-size: 22px;
}

/*********************/
/* Section 3 */
/*********************/

.s3 {
    background-color: salmon;
}

.trainning {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px); /* never let be below 320 px */
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 300px;
    /* object-fit: cover; */
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}

/*********************/
/* Section 4 */
/*********************/

#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

/* add some space between label and input  */
#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

input.valid{
    border-color: #36cc36;
}

input.invalid{
    border-color: orange;
}

input + p {
    /* font-family: arial; */
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orange;
    opacity: 0;
    height: 0;
}

input.invalid + p{
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
    transition: transform 0.1s linear;
}

#submit-btn:active {
    transform: translate(2px, 2px);
}

/*********************/
/* Section 10 */
/*********************/


footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer > p {
    font-family: calibri;
}

footer > p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

footer > p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

/* Social icons  */
.social-icons {
    display: flex;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons i {
    color: #000000;
}

.social-icons a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.social-icons a:hover i {
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.copyright {
    color: #565555;
    font-size: 13px;
    position: absolute;
    /* left: 50%; */
    bottom: 10px;
    /* transform: translateX(-50%); */
}

/* attached info bar  */
.a-info-b {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    border-radius: 10px;
    background: #07daa5;
    clip-path: circle(10% at 90% 20%);    /* clip path only show a bit and hide the rest of the element */
    transition: clip-path .5s ease-in-out;
    cursor: pointer;
}

.a-info-b:hover {    
    -webkit-clip-path: circle(75%);
    clip-path: circle(75%);
    background: #00B6FF;
}

.a-info-b span {
    float: right;
    color: white;
    font-weight: bold;
    transition: color .5s;
    margin-right: 8.2%;
    margin-top: 13%;
}

.a-info-b:hover span {
    color: rgba(255, 255, 255, 0);
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.a-info-b ul {
    padding-right: 15px;
    margin-left: -20px;
}

.a-info-b ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.a-info-b ul li .icon {
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.a-info-b ul li i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*********************/
/* Media Queries */
/*********************/

@media screen and (max-width: 1200px) {
    .main-container{
       width: auto;
    }

    .about-container {
        height: auto;
        width: 90%;
    }

    .about-text p:nth-child(1) {
        line-height: initial;
    }
}

@media screen and (max-width: 800px) {

    /*********************/
    /* Section 1 */
    /*********************/

    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav'
            'text-container' 
            'scrollmobile'
            'model'
        ;
        
    }

    /* show hamburder icon */
    .toggle {
        display: block;
        margin-right: 25px;
    }

    /* nav mobile view ==> awaiting invisible: 'display none' */
    /* this setting also overrides "nav ul: display: flex" and hides|change desktop nav into mobile */
    nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		width:100%;
		height: 45vh;
		box-sizing: border-box; /* padding and border are included in the width and height: */
		justify-content: center;
		align-items: center;
		z-index: 10;
		display: none;
		
	}

    /* add space between the links */
    nav ul li{
		padding: 10px;
	}
    
    nav ul li a{
		font-family: calibri;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#5c5c5c;
	}

    nav ul li a:hover{
		color:#121212;
	}

    .toggle:before{
		content: '\f0c9'; /* hamburguer icon code from fontAwesome */
		font-family: fontAwesome; /* must put this for the icon to be converted into hamburguer icon */
		line-height: 30px;
		z-index: 10;
	}

	.toggle.active:before{
		content: '\f00d'; /* cross icon code from fontAwesome  */
		position: absolute;
		right: 25px;
		line-height: 0px;
	}

    /* when toggle class 'active' in nav, display: none ===> flex. To show */
    nav.active ul{
		display: flex; /* cuz above we put display: 'none' to the 'nav ul' */
	}

    .scrollmobile {
        display: grid;
        grid-area: scrollmobile; 
        place-content: center;
    }

    .meet {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
    }

    .meet span {
        margin-right: .5em;
        align-self: center;
    }

    svg {
        margin: 0 auto;
        text-rendering: optimizeSpeed;
    }
    

    /*********************/
    /* Section 2 */
    /*********************/

    .about-container {
        flex-flow: row wrap;
        margin: -235px auto 50px auto;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: auto;
    }

    .about-container .about-text {
        padding: 25px;
    }

    .about-container img {
        transform: rotate(90deg);
        animation: none;
        opacity: 1;
        flex-shrink: 2;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .BG_Skills {
        height: 100%;
    }

    .FE ul {
        display: flex;
        /* grid-template-columns: repeat(auto, minmax(10px, 20px));
        gap: 10px; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .BE {
        padding-bottom: 40px;
    }

    .BE ul {
        display: flex;
        /* grid-template-columns: repeat(auto, minmax(10px, 20px));
        gap: 10px; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-right: 10px;
        gap: 30px;
    }

}